table{
    background-color: #eafafa;
}
td{
    width: 100px;
    height: 100px;
    max-height: 100px;
    border: 1px solid;
    padding:0;
    margin: 1px;
}
tr{
    height: 100px;
}
#red{
    background-color: red;
}
.cercle{
    height: 100%;
    border: 2px solid red;
    border-radius: 50%;
}
.croix:before{
    font-size: 64px;
	font-family: sans-serif;
	content: 'X';
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
    color: darkblue;
}